.box-name-input {
    font-family: monospace;
}

div#editor {
    display: flex;
    gap: 1em;
}

div#box-name-inputs {
    display: grid;
    gap: 0.25em;
    grid-template-columns: auto auto;
}

label#box-name-byte-view-label {
    display: none;
}

textarea#box-name-byte-view:invalid {
    border: 1px solid red;
}

textarea#box-name-byte-view:focus {
    outline: transparent;
    border: 1px solid black;
    box-shadow: 0 0 10px #719ECE;
}

textarea#box-name-byte-view:focus:invalid {
    outline: transparent;
    border: 2px solid red;
    box-shadow: 0 0 10px #CE9E71;
}
