body {
    width: 30em;
    margin: auto;
}

.box-name-input {
    font-family: monospace;
}

div#editor {
    display: flex;
    gap: 1em;
}

div#parameters-area {
    display: grid;
    gap: 0.25em;
    grid-template-columns: auto auto;
}

div#box-name-inputs {
    display: grid;
    gap: 0.25em;
    grid-template-columns: auto auto;
}

label#box-name-byte-view-label {
    display: none;
}

textarea#box-name-byte-view:invalid, input.box-name-input:invalid {
    border: 1px solid red;
}

textarea#box-name-byte-view:focus, input.box-name-input:focus {
    outline: transparent;
    border: 1px solid black;
}

textarea#box-name-byte-view:focus:invalid, input.box-name-input:focus:invalid {
    outline: transparent;
    border: 1px solid red;
}

main {
    display: flex;
    flex-direction: column;
    gap: 0.5em
}
