body {
    width: 40em;
    margin: auto;
}

.box-name-input {
    font-family: monospace;
}

label#box-name-byte-view-label {
    display: none;
}

div#editor {
    display: flex;
    gap: 1em;
}

div#parameters-area {
    display: grid;
    gap: 0.25em;
    grid-template-columns: auto auto;
}

div#box-name-inputs {
    display: grid;
    gap: 0.25em;
    grid-template-columns: auto auto;
}

label#box-name-byte-view-label {
    display: none;
}

textarea#box-name-byte-view:invalid, input.box-name-input:invalid {
    border: 1px solid red;
}

textarea#box-name-byte-view:focus, input.box-name-input:focus {
    outline: transparent;
    border: 1px solid black;
}

textarea#box-name-byte-view:focus:invalid, input.box-name-input:focus:invalid {
    outline: transparent;
    border: 1px solid red;
}

main {
    display: flex;
    flex-direction: column;
    gap: 0.5em
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.25em 0.5em;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
}

#uint-view-params-panel {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.25em;
}

#tab-view {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

textarea {
    font-family: monospace;
}

textarea#paste-view {
    width: 50ch;
    white-space: pre;
}

#box-name-byte-view, #uint-view, #code-gen-view {
    width: 28ch;
}

.box-name-input {
    width: 15ch;
}

.japanese-font {
    font-size: 0.80em;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
