body {
    max-width: 720px;
    margin: auto auto;
}
main {
    display: grid;
    column-gap: 1em;
    row-gap: 1em;
}

@media screen and (min-width: calc(16.5em + 31ch)) {
    main {
        grid-template-columns: 20em auto;
    }
}

form{
    display: flex;
    flex-direction: row;
    width: 100%;
}

form fieldset {
    width: 50%;
    display: flex;
    flex-direction: column;
}

form fieldset output{
    display: flex;
    flex-direction: column;
}

/* fieldset#boxNamesInput {
    border: 0;
    margin: 0;
    padding: 0;
} */

/* #outputArea {
    display: grid;
    column-gap: 1em;
    row-gap: 1em;
}

#boxNamesInput{
    width: 20em;
    display: grid;
    row-gap: 0.25em;
    grid-template-columns: 6em auto;
}

#langLabel, #lang{
    width: 100%;
    margin: 0.25em auto;
}

#boxNamesInput input {
    font-family: monospace;
}

#convertButton {
    width: 100%;
    grid-column: 1 / 2 span;
}
*/
#outputArea div textarea {
    min-width: 27ch;
    width: 100%;
}

textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}