main {
    display: grid;
    column-gap: 1em;
    row-gap: 1em;
    grid-template-columns: 1fr 1fr;
}

#outputArea {
    display: grid;
    grid-row: 2;
    grid-column: 2;
    column-gap: 1em;
    row-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
}

.rawDataOutput {
    grid-column: 1 / 3 span;
}

#lang {
    grid-row: 1;
    grid-column: 1;
}

#input {
    grid-row: 2;
    grid-column: 1;
}



#convertButton {
    grid-row: 3;
    grid-column: 1 / 2 span;
}

textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}