body {
    max-width: 720px;
    margin: auto auto;
}
main {
    display: grid;
    column-gap: 1em;
    row-gap: 1em;
}

@media screen and (min-width: calc(16.5em + 31ch)) {
    main {
        grid-template-columns: 20em auto;
    }
}

form{
    display: flex;
    flex-direction: row;
    width: 100%;
}

form fieldset {
    width: 50%;
    display: flex;
    flex-direction: column;
}

form fieldset output{
    display: flex;
    flex-direction: column;
}

#outputArea div textarea {
    min-width: 27ch;
    width: 100%;
}

textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}